<?xml version="1.0" encoding="UTF-8"?>

<suite name="移动端自动化测试">
    <test name="移动端自动化测试">
        <classes>
            <class name="com.mytest.function.starter.FunctionTestBase">
                <methods>
                </methods>
            </class>
        </classes>
    </test>

    <!--<listeners>-->
        <!--<listener class-name="com.com.mytest.function.starter.ExtentTestNGIReporterListener" />-->
    <!--</listeners>-->

</suite>